# 字节码文件
*.pyc
*.pyo
*.pyd

# 编译目录
__pycache__/
build/
dist/

# 虚拟环境
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# 编辑器和IDE相关
.vscode/
.idea/
*.iml
.DS_Store

# 忽略 To_Do.md 文件
To_Do.md

# 忽略 cat.html 文件
cat.html

#忽略 TEST.py 文件
TEST.py

#忽略 test.db
test.db